html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}


#root{
    margin: 0;
    padding: 0;
    background-image: url(./assets/HomeImg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}